<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @guide.name %>
</p>

<p>
  <b>Description:</b>
  <%= @guide.description %>
</p>

<ul>
  <% @guide.steps.each do |step| %>
    <li><%= step.position %> - <%= step.name %></li>
  <% end %>
</ul>

<%= link_to "Add New Step", new_guide_step_path(@guide) %> |
<%= link_to 'Edit Guide', edit_guide_path(@guide) %> |
<%= link_to 'Back to Guides', guides_path %>
